.controls {
  grid-area: controls;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btnBackground {
  min-width: 40px;
  height: 40px;
  padding: 7px;
}

.selectControl {
  margin: 0 20px;
}

.iconLoading {
  animation: rotateRefresh 0.5s linear infinite;
}

@keyframes rotateRefresh {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
