@import '~src/styles/spacing.css';
@import '~src/styles/reset.css';

.appWrapper {
  padding: var(--space-m);

  position: relative;
  background-image: url('../styles/images/land.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  display: grid;

  grid-template-areas:
    'controls search '
    'location  map '
    'time map'
    'todayWeather map'
    'forecast map'
    '. . ';

  grid-template-columns: 60% 1fr;
}
