@import '~src/styles/spacing.css';
@import '~src/styles/reset.css';

.appBackground {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.appWrapper {
  padding: var(--space-m);

  display: grid;

  grid-template-areas:
    'controls search '
    'location  map '
    'time map'
    'todayWeather map'
    'forecast map';

  grid-template-columns: 60% 1fr;
}

@media only screen and (max-width: 1000px) {
  .appWrapper {
    padding: var(--space-m);
    display: grid;
    grid-template-areas:
      'controls search'
      'location location '
      'time time'
      'todayWeather todayWeather'
      'forecast forecast'
      'map map ';
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .appWrapper {
    padding: var(--space-m);
    display: grid;
    grid-template-areas:
      'controls'
      'search'
      'location'
      'time'
      'todayWeather'
      'forecast'
      'map';
    grid-template-columns: 1fr;
  }
}
