.weatherForecast {
  grid-area: forecast;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 75px;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 33%;
}

.weekDay {
  width: 200px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .weatherForecast {
    flex-direction: column;
  }

  .day {
    flex-wrap: nowrap;
    width: 100%;
  }
}
