@import url(https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css);

.mapBlock {
  grid-area: map;

  display: flex;
  flex-direction: column;
}

.map {
  width: 100%;
  min-height: 520px;
  height: 100%;
  border-radius: 25px;
}

.map canvas {
  position: absolute;
}
